.chat-room-container {
  display: flex;
  flex-direction: column;
}

.message-container {
  margin-bottom: 10px; /* Mesajlar arasına boşluk ekle */
}

.message {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px; /* Her mesajın altına boşluk ekle */
}

.input-container {
  display: flex;
  align-items: center;
}

.message-input {
  flex: 1; /* Giriş kutusunu genişlet */
  margin-right: 10px; /* Giriş kutusu ile gönder düğmesi arasına boşluk ekle */
}

.send-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}


