body {
  background-color: #ffffff; /* Sayfa arka plan rengi */
  
}
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Öğeleri dikey olarak ortalar */
  padding: 20px; /* Kenar boşlukları */
  margin-top: 125px;
}

.profile-info {
  width: 40%; /* Profil bilgilerinin genişliği */
  margin-left: 725px; /* Profil bilgilerini sağa hizalar */
}

.profile-form {
  width: 50%; /* Formun genişliği */
  margin-top: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-right: 30px; 
}
 
  


.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resmin tamamının görünmesini sağlar */
}
