body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("./images/bak.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fa-message {
  font-size: 90px;
  color: #470f6b;
  margin: 0 40px;
}

.message_icon {
  max-width: 220px;
  margin: 250px auto 0;
}

.form-outer {
  max-width: 265px;
  margin: 30px auto;
  text-align: center;
}

input {
  border: 0.5px groove #c8a9a9;
  padding: 10px;
  font-size: 18px;
  display: block;
  width: 100%;
  outline: 0;
  background-color: #eee3e3;
  border-radius: 5px;
  color: #4e1176;
  margin-bottom: 20px;
  border-radius: 20px;
}

#form-input {
  position: relative;
  width: 100%;
}

.fa-user,
.fa-lock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  left: 10px;
  color: #4e1176;
  opacity: 0.8;
}

::placeholder {
  color: #8b5c99;
  opacity: 0.6;
  font-size: 18px;
}

#login-form-submit {
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  height: 40px;
  color: #4e1176;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #cfaeae;
  cursor: pointer;
}

.login,
.signup {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  color: #4e1176;
  font-weight: bold;

}

.login_button,
.signup_button {
  text-decoration: none;
  font-weight: bold;

  
}

.login:hover,
.signup:hover {
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center; /*yatayda hizalar*/
  align-items: flex-start; /* Dikey eksende en üste hizala */
  padding-top: 75px; /* Üstte bir boşluk bırak */
  height: 100vh;
  float: right; /* sağa hizalamak için */
  margin-right: 175px;
  margin-top: 125px;

}

.card-body {
  text-align: center;
  padding: 20px;
  padding-right: 40px;
  border: 5px solid #cfaeae;
  border-radius: 20px;
  box-shadow: 0 4px 8px #8ca0de1a;
}

.all_elements {
  width: 320px;
  margin: auto;
  text-align: center;
  padding: 10px;
  
}
.h_bir {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold; /* Kalın yazı */
  text-transform: uppercase;
  color: #7757A3;
}


